.sidebar {
	width: 72px;
	min-height: 100vh;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 102;
	transition: 0.1s;
}

.sidebar.active {
	width: 240px;
}

.sidebar-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	transition: 0.1s;
	opacity: 0;
	visibility: hidden;
	z-index: 101;
}

.sidebar-overlay.active {
	opacity: 1;
	visibility: visible;
}

.sidebar-overlay.stopToggle {
	pointer-events: none;
}

#sb-header {
	height: 60px;
	overflow: hidden;
	display: flex;
	align-items: center;
}
#sb-inner-header {
	display: flex;
	align-items: center;
	width: 240px;
}

.logo-box h2 {
	font-size: 1.5em;
	font-weight: bolder;
	margin-left: 6px;
	letter-spacing: $logo-letter-spacing;
}

#menu-btn {
	width: 40px;
	height: 40px;
	margin: 0px 16px;
	border-radius: 50%;
	background-image: url(../../img/menu.png);
	background-repeat: no-repeat;
	background-size: 22px 15px;
	background-position: center;
	filter: opacity(0.5);
	cursor: pointer;
	border: solid 1px white;
	box-sizing: border-box;
}

#sb-body {
	padding: 15px;
	max-height: calc(100vh - 60px);
	overflow-x: hidden;
	position: relative;
}

#sb-body ul {
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#sb-body ul li {
	margin-bottom: 15px;
}

.subtitle {
	width: 42px;
	font-size: 12px;
	text-align: center;
}

.subtitle.active {
	display: none;
}

#sb-body ul li .sb-link {
	display: flex;
	align-items: center;
	width: 210px;
	height: 40px;
	color: black;
	cursor: pointer;
	text-decoration: none;
	text-overflow: clip;
	white-space: nowrap;
}

#sb-body ul li img {
	width: 30px;
	height: 30px;
	padding: 7px 8px;
	padding-right: 25px;
	padding-left: 6px;
}
